<div class="post {{styleName}}" ng-controller="newsItemController">
    <div class="frame">
        <div class="meta">
            <span class="date" ng-bind="convertDate(news.PublicationDate)"></span>
            <!--<span><span class="icon-visibility"></span>{{news.Views}}</span>-->
        </div>
        <a ng-href="{{getNewsLink(news.Id)}}">
            <h2 ng-bind="news.Title" ng-class="getTitleClass(news.Title)"></h2>
        </a>
        <span ng-if="fullMode" 
              ng-bind="news.Text"></span>
        <div class="bottom-row">
            <a ng-if="news.LinkToArticle" href="{{news.LinkToArticle}}" target="_blank" class="btn" ng-bind="strings.GoToSource"></a>
            <ul class="social">
                <li><a ng-click="shareToFacebook(news)"><span class="icon-facebook"></span></a></li>
                <li><a ng-click="shareToTwitter(news)"><span class="icon-twitter"></span></a></li>
                <li><a ng-click="shareToTelegram(news)"><span class="icon-telegram"></span></a></li>
                <li ng-if="showCopyButton()"><a ng-click="copyToClipboard(news.Id)"><span class="icon-link"></span></a></li>
            </ul>
        </div>
    </div>
</div>