<div class="news-wrapper" ng-controller="newsItemController">
    <div class="news-block">
        <h2 ng-bind="news.Title"></h2>
        <a class="news-block-link" ng-if="news.LinkToArticle" href="{{news.LinkToArticle}}" target="_blank">Link to source</a>
        <div class="margin-top-30">
            <a class="social-button"
               ng-click="copyToClipboard(news.Id)" 
               ng-if="showCopyButton()">
                <i class="fa fa-link" aria-hidden="true"></i>&nbsp;Copy link
            </a>
            <a class="social-button" 
               ng-click="shareToTwitter(news)">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
            <a class="social-button" 
               ng-click="shareToTelegram(news)">
                <i class="fa fa-telegram" aria-hidden="true"></i> Telegram
            </a>
        </div>
    </div>
</div>