<div class="container" ng-controller="indexController">
    @* loader *@
    <div class="text-center margin-top-30" ng-if="loading.page">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
        <span class="sr-only">Loading</span>
    </div>
    
    @* news container *@
    <div class="news-container" ng-if="!loading.page">
        <news-item data="news" ng-repeat="news in newsList"></news-item>
        <div class="text-center">
            <button ng-if="showMoreButton()"
                    ng-click="lazyLoad()"
                    class="btn btn-default">
                <i class="fa fa-refresh fa-fw" ng-class="{'fa-spin': loading.lazy}"></i> Load more
            </button>
        </div>
    </div>
</div>

