@using strings = EbaNews.Resources.Web.Areas.Home.IndexStrings

<div ng-controller="indexController">
    @* loader *@
    <div class="loader" ng-if="loading.page">
        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
        <span class="sr-only">@strings.Loading</span>
    </div>
    
    @* news container *@
    <div ng-if="!loading.page">
        <div class="posts">
            <news-item data="news"
                       style-name="getClassName($index)"
                       ng-repeat="news in newsList"></news-item>
        </div>
        <div class="more-box" ng-if="showMoreButton()">
            <button class="btn" ng-click="lazyLoad()">
                <span ng-if="!loading.lazy">@strings.LoadMore</span>
                <span ng-if="loading.lazy">@strings.Loading</span>
            </button>
        </div>
    </div>
</div>