body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.news-container {
    margin-top: 50px;
    overflow: hidden;
}

.news-wrapper {
    padding: 30px 0;
}

.news-block {
    border: 2px solid #dadada;
    padding: 20px 35px;
    color: #fff;
    min-height: 500px;
    background-color: #173644;
    border-radius: 15px;
}

.social-button {
    border: 2px solid #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    opacity: 0.8;
    margin-right: 7px;
}

    .social-button:hover {
        opacity: 1;
        cursor: pointer;
        color: #fdface;
        border-color: #fdface;
        text-decoration: none;
    }

.news-block-link {
    color: #fff;
    opacity: 0.8;
}
    .news-block-link:hover {
        color: #fdface;
        opacity: 1;
    }